Структуры данных в Python
--
Необходимо отфильтровать список запросов, оставив только те, что содержат слово 'сериалы'.

In [61]:
queriesList = ['смотреть онлайн сериалы',
              'новости спорта',
              'смотреть новости',
              'чемпионат мира по футболу']

for i in queriesList[:]:
    if not ('сериалы' in i) : queriesList.remove(i) 
        
print(queriesList)

['смотреть онлайн сериалы']

In [44]:
#длинна листа
justNumbers = [2, 1, 5, 4, 3]
len(justNumbers)

5

In [45]:
#Сумма элеентов
sum(justNumbers)

15

In [5]:
#сортировка по возрастанию
orted(justNumbers)

[1, 2, 3, 4, 5]

In [6]:
#сортировка по убыванию
sorted(justNumbers, reverse = True)

[5, 4, 3, 2, 1]

In [46]:
#добавление элемента к списку
justNumbers.append(55)
justNumbers

[2, 1, 5, 4, 3, 55]

In [ ]:
myList  = ['один','два','три']
sorted(myList )

**Задание с fileString**

In [49]:
#преобразование строки в лист
queries_string = 'смотреть сериалы онлайн,новости спорта, афиша кино, курс доллара,сериалы этим летом,курс по питону,сериалы про спорт'
print(queries_string.split(','))

['смотреть сериалы онлайн', 'новости спорта', ' афиша кино', ' курс доллара', 'сериалы этим летом', 'курс по питону', 'сериалы про спорт']

In [50]:

fileString = "003_logs_2017-11-03;001_logs_2017-11-01;005_logs_2017-11-05;002_logs_2017-11-02;004_logs_2017-11-04"
fileString = fileString.split(";")
fileString

['003_logs_2017-11-03',
 '001_logs_2017-11-01',
 '005_logs_2017-11-05',
 '002_logs_2017-11-02',
 '004_logs_2017-11-04']

In [51]:
fileString = sorted( fileString)
fileString

['001_logs_2017-11-01',
 '002_logs_2017-11-02',
 '003_logs_2017-11-03',
 '004_logs_2017-11-04',
 '005_logs_2017-11-05']

In [52]:
fileString.append('006_logs_2017-11-06')

In [53]:
#преобразование листа в строку
print( ', '.join(fileString) )

001_logs_2017-11-01, 002_logs_2017-11-02, 003_logs_2017-11-03, 004_logs_2017-11-04, 005_logs_2017-11-05, 006_logs_2017-11-06

In [58]:
result = '||'.join( fileString )
result

'001_logs_2017-11-01||002_logs_2017-11-02||003_logs_2017-11-03||004_logs_2017-11-04||005_logs_2017-11-05||006_logs_2017-11-06'

In [16]:
sequence = [ 'Google Adwords', 'Yandex Direct', 'Facebook', 'VK', 'Partner' ]

In [17]:
sequence[1]

'Yandex Direct'

In [18]:
sequence[0]

'Google Adwords'

In [19]:
sequence[:3]

['Google Adwords', 'Yandex Direct', 'Facebook']

In [20]:
sequence[2:]

['Facebook', 'VK', 'Partner']

In [54]:
#Вывод только четных
justNumbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
justNumbers[ 1::2 ]

[2, 4, 6, 8, 10]

Цикл while
--
Напишите программу, которая считывает со стандартного ввода целые числа, по одному числу в строке, и после первого введенного нуля выводит сумму полученных на вход чисел.

In [59]:
a = int(input())
s = 0
while a != 0:
    a = int(input())
    s += a
print('Sum = {}'.format(s))

4
5
0
Sum =  5

Напишите программу, которая считывает целые числа с консоли по одному числу в строке. Для каждого введённого числа проверить: если число меньше 10, то пропускаем это число; если число больше 100, то прекращаем считывать числа; в остальных случаях вывести это число обратно на консоль в отдельной строке

In [ ]:
a = 0 


while a <= 100:
    if a < 10: 
        a = int(input())
    else : 
        print('num = ' , a)
        a = int(input())

Цикл for
--
Вывести квадрат из звездочек

In [1]:
n = int(input()) 
for i in range(n):
    print('* ' * n)

3
* * *
* * *
* * *

Напишите программу, которая считывает список чисел lst из первой строки и число x из второй строки, которая выводит все позиции, на которых встречается число x в переданном списке lst.
Позиции нумеруются с нуля, если число x не встречается в списке, вывести строку "Отсутствует" (без кавычек, с большой буквы).
Позиции должны быть выведены в одну строку, по возрастанию абсолютного значения.

In [44]:
#очень непонятно было описано задание, но надеюсь, правильно сделал
list_1 = '1 2 3 4 5 6 7 8 7 6 9 5 10'
list_2 = '2 7 4'
lst = list_1.split(' ')
x = list_2.split(' ')
x = x[1]

position = []
for i in range(len(lst)):
    if lst[i] == x:
        position.append(i)
        
if position:
    print(position)
else:
    print("Отсутствует")

[6, 8]

Методы строк
--

In [54]:
s = 'aTGcc'
p = 'cc'

In [47]:
#делает все буквы в строке в верхнем регистре
s.upper()

'ATGCC'

In [49]:
#делает все буквы в строке в нижнем регистре
s.lower()

'atgcc'

In [56]:
#подсчитывает сколько раз встречаетсянабор символов строки в другой строке
s.count(p)

1

In [58]:
#Возвращает наименьший индекс, по которому обнаруживается начало указанной подстроки в исходной.
s.find(p)

3

In [65]:
s.find('A')

-1

In [66]:
s.replace('c', 'C')

'aTGCC'

In [70]:
s = 'agTtcAGtc'
s.upper().count('gt'.upper())

2

Генерация списков
--

In [71]:
a = [0] * 5
print(a)

[0, 0, 0, 0, 0]

In [72]:
a = [0 for i in range(5)]
print(a)

[0, 0, 0, 0, 0]

In [73]:
a = [i * i for i in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [75]:
a = [int(i) for i in input().split()]
print(a)

4 5 8
[4, 5, 8]